<div class="create">
  <div class="create1"><%= link_to "Create a Worry", new_page_path, class:"btn btn-primary" %></div>
  <div class="create1"><%= link_to "How to use", description_pages_path, class:"btn btn-primary" %></div>
  <div class="create1"><%= link_to "Create Charts", charts_pages_path, class:"btn btn-primary" %></div>
</div>
